DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=urbanflow_notifications
NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=urban.flow@mail.fr
SMTP_PASSWORD=Motdepasseultrasecure! que tu génère ici : https://myaccount.google.com/apppasswords après l'identification à deux facteurs, voila bon courage bro
SMTP_FROM_NAME=UrbanFlow
SMTP_FROM_EMAIL=urban.flow@mail.fr